/* Common Style start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
:root{
	--themeRed:#e43a47;
	--gray:#efefef;
	--hello:black;
}
html{
	scroll-behavior:smooth;
}
/* Scroll top start */
#scrolltop{
	height:65px;
	width:65px;
	background-color:orange;
	position:fixed;
	bottom:10px;
	right:10px;
	border-radius:50%;
	z-index:5;
	transition:background-color 1s;
}
#scrolltop:hover{
	background-color:white;
	cursor:pointer;
}
#scrolltop i{
	color:black;
	margin-left:7px;
	font-size:46px;
	padding:10px;
}
/* Scroll Top end */
button, body{
	font-family: 'Poppins', sans-serif;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
p{
	font-size:14px;
	line-height:26px;
}

.fullcontainer banner{
	width:100%;
}
.container{
	width:1140px;
	margin:auto;
}
.sectionTitle{
	border-bottom:3px solid var(--themeRed);
	width:300px;
	color:black;
	text-align:center;
	font-size:3rem;
	font-weight:600;
	margin:0 auto 50px;
	position:relative;
	padding:10px 0;
	text-transform:uppercase;
	letter-spacing:2px;
	animation:pulse; 
  animation-duration: 1s;
  animation-iteration-count:infinite;
}
.sectionTitle::after{
	display:inline-block;
	content:" ";
	height:15px;
	width:15px;
	background-color:var(--themeRed);
	position:absolute;
	left:calc(50% - 10px);
	top:calc(75% - 7px);
	transform:rotate(45deg) translate(50%, 50%);
	border:5px solid #fff;
}
.sectionTitle span{
	color:red;
}
section{
	padding:100px 0;
    position:relative;	
}
/* Common Style end */

/* Home style start */
header{
	width:100%;
	background-color:rgba(0,0,0,0.6);
	position:fixed;
	z-index:2;
}
header .container{
	display:flex;
	justify-content:space-between;
}
header .container .logo{
	padding:16px 0;
	height:75px;
}
header .container .logo img{
	height:100%;
}
header nav ul{
	list-style-type:none;
}
header nav ul li{
	display:inline-block;
}
header nav ul li a{
	display:inline-block;
	height:75px;
	line-height:75px;
	padding:0 10px;
	text-decoration:none;
	text-transform:capitalize;
	font-size:17px;
	color:#fff;
	transition:0.3s;
}
header nav ul li a:hover{
	background-color:var(--themeRed);
}
.banner{
	min-height:100vh;
	width:100%;
	background-image: url("../images/banner.jpg");
	background-size:cover;
	background-attachment:fixed;
}
.banner h1{
	margin-top:230px;
	display:inline-block;
	font-size:3.5rem;
	color:#fff;
	text-shadow:0 0 2px #000;
	width:50%;
	line-height:4.2rem;
	font-weight:100;
	animation: bounce; 
  animation-duration: 2s;
  animation-iteration-count:infinite;
}
.banner h1 span{
	background-color:var(--themeRed);
	display:inline-block;
	line-height:3.5rem;
	padding:0 15px;
	font-weight:600;
	border-radius:5px;
	
}
.banner p{
	color:#fff;
	width:50%;
	text-shadow:0 0 2px #000;
	margin-top:10px;
}

.banner button{
	background-color:var(--themeRed);
	border:0;
	cursor:pointer;
	outline:none;
	color:#fff;
	padding:10px 15px;
	margin:20px;
	/*margin-left:1px;*/
	border-radius:15px;
	font-weight:600;
	font-size:14px;
}
/* Home style end */

/* About Us Section Start */
#aboutsection .cards{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top:50px;
	position:relative;
	height:245px;
}
#aboutsection .cards>div{
	width:350px;
	background-color:var(--gray);
	padding:35px;
	color:#444;
	text-align:center;
	border-radius:5px;
	height:215px;
	border-style:inset;
	border-width:3px 3px;
	border-color:black red;	
	transition:0.4s;
}
#aboutsection .cards>div:hover{
	width:400px;
	margin-top:-20px;
	border-color:var(--themeRed);
	padding:55px;
	height:auto;
}
#aboutsection .cards>div .title{
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;
	animation:zoomIn; 
  animation-duration: 2s;
  animation-iteration-count:infinite;
}
#aboutsection .cards>div p{
	font-size:14px;
	margin-top:15px;
}
#aboutsection .cards>div button{
	border:1px solid var(--themeRed);
	background-color:red;
	color:white;
	cursor:pointer;
	border-radius:5px;
	outline:none;
	padding:7px 15px;
	margin-top:15px;
	font-size:12px;
	transition:0.3s;
}
#aboutsection .cards>div button:hover{
	background-color:orange;
}
/* About Us Section end */

/* Program section start */
.programs{
	background-color:#e2e2e2;
}
.programs .boxcontainer{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:50px;
	
}
.programs .boxcontainer .box{
	border-style:inset;
	border-width:4px 5px;
	border-color:red black;
	background-color:#fff;
	text-align:center;
	padding-bottom:25px;
	border-radius:5px;
	box-shadow:0 0 3px 0 #c5c5c5;
	position:relative;
	margin-bottom:15px;
}
.programs .boxcontainer .box .cardimage{
	width:100%;
	height:300px;
	background-position:center;
	background-size:cover;
	position:relative;
	overflow:hidden;
	border-radius:5px 5px 0 0;
}
.programs .boxcontainer .box .cardimage:after{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
	content:"";
	position:absolute;
	left:0;
	top:0;
	filter:grayscale(100%);
	transition:0.4s;
}
.programs .boxcontainer .box:nth-child(1) .cardimage, .programs .boxcontainer .box:nth-child(1) .cardimage:after{
	background-image:url("../images/programs/1.jpg");
}
.programs .boxcontainer .box:nth-child(2) .cardimage, 
.programs .boxcontainer .box:nth-child(2) .cardimage:after{
	background-image:url("../images/programs/2.jpg");
}
.programs .boxcontainer .box:nth-child(3) .cardimage, 
.programs .boxcontainer .box:nth-child(3) .cardimage:after{
	background-image:url("../images/programs/3.jpg");
}
.programs .boxcontainer .box:nth-child(4) .cardimage, 
.programs .boxcontainer .box:nth-child(4) .cardimage:after{
	background-image:url("../images/programs/4.jpg");
}
.programs .boxcontainer .box:hover .cardimage:after{
	top:100%;
}
.programs .boxcontainer .box .programtitle{
	font-size:16px;
	margin-top:15px;
	font-weight:600;
	color:#444;
}
.programs .boxcontainer .box .donationcount{
	font-size:13px;
	font-weight:600;
	color:#444;
	margin-top:10px;
}
.programs .boxcontainer .box .donationcount span{
	color:var(--themeRed);
}
.programs .boxcontainer .box button{
	position:absolute;
	left:50%;
	background-color:var(--themeRed);
	color:#fff;
	transform:translate(-50%);
	bottom:-15px;
	border-radius:60px;
	padding:7px 15px;
	border:0;
	outline:none;
	cursor:pointer;
}
.programs .boxcontainer .box button:hover{
	background-color:orange;
}
/* Program section end */

/* Education Section Start */
.education{
	height:100vh;
	overflow:hidden;
	position:relative;
}
.education .videoplayer{
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%,-50%);
}
.education .sectionTitle{
	color:#fff;
	text-shadow:0 0 4px #000;
}
.education .educationcontainer{
	position:absolute;
	background-color:#00000096;
	width:600px;
	top:35vh;
	color:#fff;
	text-shadow:0 0 3px #000;
	padding:30px;
}
.education .educationcontainer h3{
	font-size:35px;
	font-weight:300;
}
.education .educationcontainer p{
	font-size:15px;
	line-height:20px;
	margin:10px 0 30px;
}
.education .educationcontainer button{
	background-color:var(--themeRed);
	border:0;
	color:#fff;
	padding:10px 25px;
	font-weight:bold;
	cursor:pointer;
	border-radius:12px;
	font-size:14px;
	outline:none;
}
.education .educationcontainer button:hover{
	background-color:orange;
}
/* Education Section End */

/* Gallery Section Start */
.gallery .gallerycontainer{
	column-count:4;
	column-gap:20px;
}
.gallery .gallerycontainer .item{
	position:relative;
	margin-bottom:20px;
	overflow:hidden;
}
.gallery .gallerycontainer img{
	width:100%;
	display:block;
	transition:0.4s;
}
.gallery .gallerycontainer .title{
	position:absolute;
	background-color:var(--gray);
	padding:5px;
	margin:5px;
	border-radius:5px;
	font-size:13px;
	font-weight:bold;
	opacity:0;
	z-index:1;
	transition:0.4s;
}
.gallery .gallerycontainer .item:hover .title{
	opacity:1;
}
.gallery .gallerycontainer .item:hover img{
	transform:scale(1.4);
}
/* Gallery Section end */

/* Join us Section Start */
.join{
	background-image:url("../images/pattern.jpg");
	color:#fff;
}
.join .jointitle{
	font-size:40px;
	font-weight:100;
}
.join .jointitle span{
	font-weight:800;
}
.join button{
	padding:7px 15px;
	margin-top:20px;
	border:0;
	outline:none;
	font-weight:600;
	font-size:16px;
	cursor:pointer;
}
.join button.joinnow{
	margin-right:10px;
	background-color:#424242;
	color:#fff;
}
.join button.adoptbtn{
	background-color:var(--gray);
}
/* Join us Section End */

/* Footer Section Start */
footer{
	background-color:#181818;
	color:#7f7f7f;
	padding:50px 0;
	font-size:14px;
}
footer .container{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-gap:50px;
}
footer .title{
	font-size:20px;
	font-weight:600;
	text-transform:uppercase;
	border-bottom:2px solid;
	margin-bottom:30px;
	padding:0 0 5px 0;
}
footer p{
	margin-bottom:10px;
	
}
footer .linkscontainer ul{
	list-style-type:none;
}
footer .linkscontainer ul li a{
	text-decoration:none;
	color:#7f7f7f;
	margin-bottom:10px;
	display:inline-block;
}
footer .newslettercontainer img{
	height:40px;
	margin-bottom:11px;
}
footer .newslettercontainer input{
	background-color:transparent;
	border:1px solid #7f7f7f;
	outline:none;
	padding:10px 15px;
	width:100%;
	color:#ccc;
	margin-top:10px;
	border-radius:30px;
}
footer .btn{
	background-color:white;
	color:black;
	margin-top:20px;
	border-radius:10px;
	font-weight:700;
	letter-spacing:1px;
	font-size:15px;
	padding:8px;
	margin-left:70px;
}
footer .btn:hover{
	background-color:orange;
	color:black;
}

.design h2{
	display:flex;
	justify-content:center;
	align-items:center;
	background:#000;
	min-height:10vh;
	position:relative;
	margin:0;
	font-size:2em;
	letter-spacing:2px;
	font-weight:500;
	color:#fff;
	z-index:1;
	letter-spacing:2px;
	word-spacing:4px;
	overflow:hidden;
}
.design h2:before{
	content:'';
	position:absolute;
	left:120;
	width:120%;
	height:100%;
	background:linear-gradient(90deg,transparent 0%, #000 5%, #000 100%);
	animation:animate 4.5s linear forwards infinite;
}
@keyframes animate{
	0%{
		left:110%;
	}
	100%{
		left:-20%;
	}
}
.design h2 span{
	color:orange;
}
/* Footer Section End */

/*Responsive Code start from here */
@media screen and (max-width:1140px){
	.container{
		width:100%;
		padding:0 15px;
	}
	.education .videoplayer{
		width:1280px;
	}
}
@media screen and (max-width:1080px){
	.banner h1{
		margin-top:200px;
	}
	#aboutsection .cards{
		justify-content:space-around;
		height:auto;
	}
	#aboutsection .cards>div{
		margin:10px 0;
	}
}
@media screen and (max-width:1024px){
	.banner{
		background-position-x:45%;
	}
	.banner h1{
		font-size:2.5rem;
	}
	.programs .boxcontainer{
		grid-template-columns:repeat(2, 1fr);
	}
}
@media screen and (max-width:768px){
	header nav{
		position:relative;
		border:2px solid #fff;
		height:30px;
		width:30px;
		margin-top:20px;
		border-radius:5px;
	}
	header nav:after{
		top:17px;
	}
	header nav:before{
		top:7px;
	}
	header nav:after,
	header nav:before{
		content:"";
		height:2px;
		width:17px;
		background-color:#fff;
		display:block;
		position:absolute;
		left:5px;
		
	}
	header nav ul{
		position:absolute;
		right:-400px;
		top:53px;
		transition:0.5s;
	}
	header nav:hover ul{
		right:0;
	}
	header nav ul li{
		display:block;
	}
	header nav ul li a{
		width:300px;
		background-color:rgba(0,0,0,0.6);
	}
	.banner{
		background-position-x:65%;
	}
	.banner p{
		font-size:14px;
	}
	.banner p,
	.banner h1{
		width:70%;
	}
	#aboutsection .card>div:hover{
		width:350px;
	}
	.education .educationcontainer{
		width:96%;
	}
	.education .educationcontainer h3{
		font-size:30px;
		line-height:35px;
	}
	.education .educationcontainer p{
		margin:10px 0 20px;
	}
	.gallery .gallerycontainer{
		column-count:2;
	}
	.design h2{
		font-size:15px;
	}
}
@media screen and (max-width:425px){
	.banner h1{
		margin-top:150px;
		font-size:2rem;
		line-height:3rem
	}
	.banner button{
		margin-bottom:10px;
	}
	#aboutsection p{
		text-align:justify;
	}
	#aboutsection .cards>div:hover{
		width:400px;
		margin-top:10px;
		padding:35px;
	}
	.programs .boxContainer{
		grid-template-columns:1fr;
	}
	.education .videoplayer{
		width:1400px;
	}
	.education .educationcontainer{
		width:93%;
	}
	.gallery .gallerycontainer{
		column-count:1;
	}
	.footer .container{
		grid-template-columns:1fr;
	}
	
}
@media screen and (max-width:320px){
	.education .educationcontainer{
		font-size:18px;
		line-height:24px;
	}
	.banner h1{
		margin-top:100px;
	}
}
/*Responsive Code end from here */
